.navbar {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and transparency as needed */
  z-index: 999; /* Ensure navbar appears above video background */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
  float: left;
  display: inline;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: color 0.3s ease-in-out; /* Transition effect for smooth color change */
}

.navbar a:hover {
  color: lime; /* Neon green color */
}
